<form action="/game">
  <fieldset style="width: 600px; max-width: 100%; margin: 0 auto;">
    <legend>Minesweeper - The Game</legend>
    <label for="ageRangeField">Level</label>
    <select name="level">
      <option value="easy">10x10 with 10 bombs</option>
      <option value="medium">30x30 with 30 bombs</option>
      <option value="hard">60x60 with 60 bombs</option>
    </select>
    <input class="button-primary" type="submit" value="Start Game">
  </fieldset>
</form>
