<!DOCUMENT>
<html>
<head>
<title>Minesweeper | The Game</title>
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/milligram.css">
<meta charset="utf-8">
</head>
<body>
  <%= yield %>
</body>
</html>
